<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/static/css/moreList.css}">
    <link rel="stylesheet" th:href="@{/static/css/common.css}">

    <link rel="stylesheet" th:href="@{/static/editor.md-master/css/editormd.min.css}" />
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/editor.md-master/lib/marked.min.js}"></script>
    <script th:src="@{/static/editor.md-master/lib/prettify.min.js}"></script>
    <script th:src="@{/static/editor.md-master/editormd.js}"></script>
</head>
<body>
<div class="nav">
    <span class="title">我的博客系统</span>
    <a href="home.html">主页</a>
    <a href="edit.html">创作</a>
    <a href="login.html">注销</a>
</div>
<div class="parent">
    <div class="left">
        <div class="card">
            <img th:src="@{/static/image/toxiang.jpg}">
            <span class="name">cheng</span>
            <a href="https://github.com/liujiacheng1234">github 地址</a>
            <div class='one'>
                <span>文章</span>
                <span>分类</span>
            </div>
            <div class='one'>
                <span>2</span>
                <span>1</span>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="article">
            <h2 class="title" th:text="${blog.title}">我的第一篇博客</h2>
            <span class="date" th:text="${blog.postTime}">2022-4-17</span>
            <div class="desc" id="content" style="background-color: transparent;" th:text="${blog.content}">今天开始我要认真写博客</div>
        </div>
    </div>
</div>
<script>
    editormd.markdownToHTML('content',{markdown:blog.content});
</script>
</body>
</html>